@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: 20px/1 "Big Shoulders Text", sans-serif;
}

img {
    width: 65%;
    
}

ul{
    list-style: none;
}
.main-header {
    background-color:black;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    padding: 1rem 2rem;
}


.main-header__title {
    align-items: center;
    color: whitesmoke;
}
body {
    background-image: url("http://www.desktopimages.org/pictures/2013/0408/1/mountains-landscape-bw-black-white-images-152550.jpg");
    background-attachment: scroll;
    background-size: 100rem;
}
.Projects {
    background-color: black;
    opacity: 1;
    padding: 1rem 2rem;
}
.AboutMe {
    background-color: black;
    opacity: 1;
    padding: 1rem 2rem;
    
}
a:hover {
    background-color: rgb(78, 67, 5);
}
a{
    color: blanchedalmond;
    text-decoration: none;
}
.Contactinfo {
    background-color:black;
    opacity: 1;
    padding: 1rem 2rem;
}
h2 {
    color: rgb(133, 131, 8);
}
h3 {
    color: rgb(37, 158, 21);
}

.wrapper{
    margin: 0 auto;
    max-width: 40rem;
    width: 90%;
}
.navigation__list-item {
    margin-right: 1rem;
    color: white;
}

.navigation__list {
    display: flex;
}

.picture__description {
    color: rgb(104, 79, 41);
}
.about__me {
    color: white;
    line-height: 2.2;
}
h4 {
   color: rgb(104, 79, 41)
}

.personal-info {
    display: flex;
    margin: 1rem auto;
    padding: 11px;
    max-width: 1000px;
    background-color: black;
}
.personal-info figure {
    display: grid;
    grid-template-columns: 500px 500px;
    text-align: left;
}


.collective-information {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 300px 100px 300px auto;
     margin: 2rem auto;
     background-color: black;
}
.picture__description {
    line-height: 1.7;
}

.footer {
    color: white;
}





